.projects {
  display: flex;
  flex-direction: column;
  margin-top: 28vh;
  /* background: url(../../../public/images/main_img_right.jpg) no-repeat center;
  background-size: contain; */
}

.projects h3 {
  text-align: right;
}

.projects .sectionTitle {
  margin-top: 10vh;
}

.projectDescription {
  display: flex;
  width: 100%;
  height: 700px;
  gap: 5%;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 40%;
}

.imageContainer img {
  object-fit: cover;
}

.column {
  display: flex;
  width: 20%;
  font-size: 1.5rem;
}

.column:last-of-type {
  font-size: 1rem;
  align-items: flex-end;
}

.projectList {
  margin-top: 200px;
}

.projectEl {
  text-align: right;
  border-top: 1px solid #fff;
  font-size: 3vw;
  font-weight: 700;
}

.projectEl:last-of-type {
  border-bottom: 1px solid #fff;
}

.projectEl p {
  margin: 2rem 0 1rem;
}