.character {
  margin-bottom: 0 !important;
}

.object {
  position: absolute;
  top: 0;
  right: 25%;
  width: 100px;
  height: 140px;
  background: url(../../../public/images/holding_card.png) no-repeat center;
  background-size: cover;
  opacity: 0;
}

.cards {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  overflow: hidden;
  .card {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    opacity: 0;
    cursor: pointer;
    &:hover .tiltWrap {
      background-color: #fff;
    }
    + .card {
      margin-left: 24px;
    }
    .desc {
      opacity: 0;
      visibility: hidden;
      transition: .3s;
    }
    &:hover .desc {
      opacity: 1;
      visibility: visible;
    }
    h4 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
    }
    .deco {
      position: absolute;
      width: 24px;
      height: 24px;
      background: url(../../../public/images/shining_fill.png) no-repeat center;
      background-size: cover;
      &:before {
        position: absolute;
        font-family: 'Unbounded', cursive;
        font-size: 24px;
      }
      &:first-of-type {
        left: 20px;
        top: 50px;
      }
      &:last-of-type {
        right: 20px;
        bottom: 54px;
      }
    }
    &.card1 .deco:first-of-type:before {
      content: 'C';
      top: -30px;
    }
    &.card1 .deco:last-of-type:before {
      content: 'C';
      top: 28px;
      transform: rotate(180deg);
    }
    &.card2 .deco:first-of-type:before {
      content: 'B';
      top: -30px;
    }
    &.card2 .deco:last-of-type:before {
      content: 'B';
      top: 28px;
      transform: rotate(180deg);
    }
    &.card3 .deco:first-of-type:before {
      content: 'P';
      top: -30px;
    }
    &.card3 .deco:last-of-type:before {
      content: 'P';
      top: 28px;
      transform: rotate(180deg);
    }
    .en {
      display: block;
      margin-bottom: 8px;
      font-family: 'Pretendard', sans-serif;
    }
    .tiltWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border: 3px solid #fff;
      border-radius: 20px;
      background: #000;
      transform-style: preserve-3d;
      .tiltInner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px;
        transform: translateZ(50px);
        mix-blend-mode: difference;
        p {
          position: absolute;
          left: 40px;
          bottom: 15%;
          width: 75%;
        }
      }
    }
  }
}

.line {
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 400px;
  border: 2px solid #fff;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  opacity: 0;
}