.detailTop {
  background-image: url(/images/te-1.png);
}

.bg {
  background-image: url(/images/te-bg.jpg);
}

.prev:before {
  background: url(/images/btn-bg-bis.jpg) no-repeat center;
  background-size: cover;
}

.next:before {
  background: url(/images/btn-bg-te.jpg) no-repeat center;
  background-size: cover;
}