@import "../../app/styles/mixin";

.marqueeContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 500px;
  margin-bottom: 400px;
  overflow: hidden;
  .marquee {
    position: absolute;
    left: 0;
    top: 110px;
    padding: 24px 0;
    white-space: nowrap;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    background: #000;
    transform: rotate(-3deg);
    &:nth-child(2) {
      transform: rotate(7deg) translateY(150px);
      p {
        transform: translateX(-100%);
      }
    }
    p {
      position: relative;
      display: inline-block;
      font-family: "Unbounded", sans-serif;
      font-size: 100px;
      font-weight: 700;
      &:before {
        content: "●";
        font-size: 36px;
        vertical-align: middle;
        margin: 0 40px;
      }
    }
    .arrow {
      margin: 0 48px;
      font-size: 100px;
      font-weight: 400;
      letter-spacing: 4px;
    }
  }
}

/*************************** 
  반응형 
****************************/

@include tablet {
}

@include mobile {
  .marqueeContainer {
    height: 350px;
    margin-bottom: 0;
    .marquee {
      padding: 12px 0;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      p {
        font-size: 32px;
        &:before {
          content: "●";
          font-size: 14px;
          margin: 0 16px;
        }
      }
      .arrow {
        margin: 0 24px;
        font-size: 32px;
      }
    }
  }
}
