.marqueeContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 200px 0;
}

.marquee {
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px 0;
  white-space: nowrap;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  background: #000;
  transform: rotate(-10deg);
}

.marquee:nth-child(2) {
  transform: rotate(3deg);
  z-index: -1;
}

.marquee p {
  position: relative;
  display: inline-block;
  font-family: 'Unbounded', sans-serif;
  font-size: 100px;
  font-weight: 700;
}

.marquee p:before {
  content: '●';
  font-size: 36px;
  vertical-align: middle;
  margin: 0 40px;
}

.arrow {
  margin-left: 48px;
  font-family: 'BricolageGrotesque', cursive;
  font-size: 100px;
  font-weight: 400;
  letter-spacing: 4px;
}