@import "../../styles/mixin";

.detailTop {
  background-image: url(/images/led-1.png);
}

.prev:before {
  background: url(/images/btn-bg-led.jpg) no-repeat center;
  background-size: cover;
}

.next:before {
  background: url(/images/btn-bg-wapt.jpg) no-repeat center;
  background-size: cover;
}

.bg {
  background-image: url(/images/led-bg.jpg);
}

/*************************** 
  반응형 
****************************/

@include tablet {
  
}

@include mobile {
  .detailTop {
    background-image: url(/images/led-mb-1.png);
  }
}