@charset "utf-8";

/* fonts */
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url(../../public/font/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url(../../public/font/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url(../../public/font/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: 'Unbounded';
  font-weight: 400;
  src: url(../../public/font/Unbounded-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Unbounded';
  font-weight: 500;
  src: url(../../public/font/Unbounded-Medium.ttf) format("truetype");
}
@font-face {
  font-family: 'Unbounded';
  font-weight: 700;
  src: url(../../public/font/Unbounded-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'BricolageGrotesque';
  font-weight: 400;
  src: url(../../public/font/BricolageGrotesque_Condensed-Regular.ttf) format("truetype");
}

/* reset */
* {color:inherit; font-family:inherit; font-size:inherit; font-weight:inherit; letter-spacing:inherit; line-height:inherit;box-sizing: border-box;}
html,body {cursor: none;}
body {width: 100%; height: 100%; margin:0; padding:0; word-break:keep-all; overflow-x: hidden;-webkit-font-smoothing: antialiased; font-weight:400; color:#191919; line-height:1.2;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block;}
b,strong {font-weight:600}
h1,h2,h3,h4,h5,h6,p,form,span {margin:0; padding:0;}
div,table {margin:0; padding:0; border-spacing:0; border-collapse:collapse; border:0px none;}
ul,ol,li,td,dl,dt,dd {margin:0; padding:0;list-style:none;}
em,i {font-style:normal;}
a,span {display:inline-block;}
img {border:0;vertical-align:top}
address, caption, pre, em, i {font-style:normal;}
figure {margin: 0;}

table{width:100%;border-collapse:collapse;border-spacing:0;}
table caption,legend{height:0;width:0;overflow:hidden;font-size:0;}
table, caption, tbody, tfoot, thead, tr, th, td {background:transparent;font-size:100%;}
th,td{vertical-align:middle}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:"";content:none;}
hr{ width:100%; height:1px; background-color:#ddd; margin:20px 0px; border:0px;}

/* 링크속성 */
a{color:#333;text-decoration:none;cursor:none;}
a:hover,a:focus{color:#34586e}
a:focus{color:#34586e;}
a:link, a:visited {color:inherit; text-decoration:none; cursor:pointer;}

/* form */
input, select, textarea, button {color:#666; background-color: transparent; vertical-align:middle;padding:10px;border:0;box-sizing:border-box;}
input::-ms-clear {display: none}
input {-webkit-appearance: none;-webkit-border-radius: 0;} /*아이폰 버튼스타일 제거*/
input[type='checkbox']{-webkit-appearance:checkbox} 
input[type='radio']{vertical-align:top; padding: 0;}
input[type='file']{height:auto;}
textarea {resize:none;}
select {border-radius: 0px}
select {padding:10px 24px 10px 14px;-webkit-padding-end:30px;-moz-padding-end:30px;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;}
select::-ms-expand {display: none;}
textarea {resize:none;}
button, label,input[type='submit'],input[type='button'] {cursor:pointer;}
fieldset{border:none;margin:0;padding:0}
input:read-only{background:#fafafa;color:#111;}

/* 마우스 드래그 컬러 */
::selection {background:#191c1f; color:#fff; text-shadow: none;}
::-moz-selection {background:#191c1f; color:#fff; text-shadow: none;}
::-webkit-selection {background:#191c1f; color:#fff; text-shadow: none;}

/* 인풋 플레이스 홀더 */
input::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder { color:#999;font-size:.875em}

/* Accessibility */
.sound_only,.blind{height:0;width:0;font-size:0;overflow:hidden;}
.hide{display:none}

/* 글자자름 (inline-block, block 형태로 가로폭 지정)*/
.ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.ellipsis2{overflow: hidden;text-overflow: ellipsis;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space:nowrap;line-height: 1.2em;height: 2.4em;}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
  font-family: 'Pretendard', sans-serif;
}

section:not(:first-of-type) {
  position: relative;
  width: 100%;
  margin-bottom: 240px;
  padding: 0 40px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Unbounded', 'Pretendard', sans-serif;
}

h2 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 72px;
  font-weight: 400;
  text-align: center;
}

.text-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.sectionTitle {
  margin: 60px 0 120px;
  overflow: hidden;
}

.headingWrap {
  height: 90px;
  margin-bottom: 4px;
  mix-blend-mode: difference;
  overflow: hidden;
}

.tip {
  position: relative;
  text-align: center;
}

/* 상세 페이지 공통 스타일 */
.projectDetail h2,
.projectDetail h3 {
  font-family: 'Pretendard', sans-serif;
}

.detailTop {
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.detailTop .layer {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #000;
  opacity: 0;
}

.detailContent {
  display: flex;
  padding: 80px 100px;
}

.detailContent.detailSummary {
  display: block;
}

.detailContent.flex-column > div:first-child {
  margin-bottom: 20px;
}

.detailContent .left,
.detailContent .right {
  width: 50%;
}

.detailContent > .phrase {
  margin-top: 30px;
}

.detailContent .right .phrase {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 1.5;
}

.detailContent .right .phrase:last-child {
  margin-bottom: 0;
}

.detailTitle {
  font-size: 72px;
  font-weight: 500;
  text-align: left;
  letter-spacing: -1px;
}

.detailSubTitle {
  margin-bottom: 42px;
  font-size: 48px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -1px;
  opacity: 0.5;
}

.contentTitle {
  font-size: 64px;
  font-weight: 700;
}

.contentSubTitle {
  display: inline-block;
  padding-bottom: 4px;
  font-family: 'Pretendard', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  opacity: .5;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(180deg,#fff,gray);
  overflow: hidden;
}

.detailList .left,
.detailList .right {
  width: 50%;
}

.detailList {
  display: flex;
  margin-top: 6rem;
}

.detailList li {
  margin-bottom: 2rem;
}

.detailList small {
  opacity: .5;
}

.detailList .title,
.detailList .desc {
  display: block;
}

.detailList .title {
  margin-bottom: 0.5rem;
  opacity: 0.5;
  font-weight: 600;
}

.detailList .desc .link {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

.detailContent .detailList .phrase {
  width: 80%;
  margin-bottom: 24px;
  font-size: 28px;
  line-height: 1.6;
}

.chip {
  display: inline-block;
  padding: 8px 12px;
  border: 2px solid gray;
  border-radius: 20px;
  font-size: 14px;
}

.chip + .chip {
  margin-left: 8px;
}

.marqueeContainer {
  position: relative;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  mix-blend-mode: difference;
}

.marquee {
  position: absolute;
  left: -90px;
  bottom: 20px;
  white-space: nowrap;
}

.marquee p {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  font-family: 'Unbounded', 'Pretendard', sans-serif;
  font-size: 150px;
  font-weight: 700;
}

.marquee p:before {
  content: '-';
  margin-right: 40px;
}

.bg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.75);
  }

.bg img {
  object-fit: cover;
}

.imgContainer {
  display: flex;
  margin: 200px 0;
}

.imgContainer:nth-of-type(odd) {
  justify-content: flex-start;
  padding-left: 10%;
}

.imgContainer:nth-of-type(even) {
  justify-content: flex-end;
  padding-right: 10%;
}

.imgWrap {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 90%;
}

.imgWrap img {
  width: 100%;
  object-fit: contain;
}

.imgWrap .altText {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(0,0,0,.5);
  z-index: 1;
  opacity: 0;
  transition: .3s;
}

.imgWrap:hover .altText {
  opacity: 1;
}

.imgLayer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  pointer-events: none;
}

.previewDesktop {
  position: relative;
  width: 1440px;
  height: 700px;
  margin: 120px auto;
  border-radius: 8px;
  aspect-ratio: 16/9;
	pointer-events: none;
  overflow: hidden;
}

.previewDesktop + .previewDesktop {
  margin-top: 24px;
}

.responsiveWrap {
  display: flex;
  height: 100vh;
  margin-top: 100px;
}

.responsiveWrap > div {
  display: flex;
  width: 50%;
  height: 100%;
}

.responsiveWrap .contentTitle {
  margin-bottom: 0;
}

.previewMobile {
  position: relative;
  flex-shrink: 0;
  width: 280px;
  height: 600px;
  margin: 0 auto;
  border-radius: 24px;
  overflow: hidden;
}

.previewMobile + .previewMobile {
  margin-left: 24px;
}

.videoIframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  margin-left: -100%;
}

.responsiveWrap .detailContent {
  background: #fff;
  color: #000;
}

.pages {
  display: flex;
}

.pages .prev,
.pages .next {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 300px;
  font-size: 24px;
  transition: all .3s;
}

.pages a:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  transition: .3s;
  z-index: -1;
}

.pages a:hover {
  flex: 1.5;
}
.pages a:hover:before {
  opacity: .75;
}

.pages a.disabled {
  pointer-events: none;
  color: gray;
}

.pages a .text {
  mix-blend-mode: difference;
}

.pages a .arrow {
  transition: .3s;
  mix-blend-mode: difference;
}

.pages a.prev:hover .arrow {
  transform: translateX(-15px);
}

.pages a.next:hover .arrow {
  transform: translateX(15px);
}

.prev .arrow {
  margin-right: 16px;
}

.next .arrow {
  margin-left: 16px;
}

.back {
  position: fixed;
  left: 16px;
  top: 16px;
  font-size: 20px;
  font-weight: 400;
  mix-blend-mode: difference;
  color: #000;
  z-index: 9;
}

.back .arrow {
  margin-right: 8px;
  transition: .3s;
}

.back:hover .arrow {
  margin-left: -4px;
  margin-right: 16px;
}

.external-link-icon {
  display: inline-block;
  background: url(/images/external-link-line.png) no-repeat center;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  vertical-align: -2px;
}

/* progress bar and spinner */
#nprogress .bar,
#nprogress .spinner {
  mix-blend-mode: difference;
}

/* custom scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: #000;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}

/* custom cursor */
.cursorBall {
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 100;
  mix-blend-mode: difference;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursorText {
  font-size: 4px;
  font-family: 'Unbounded', sans-serif;
  font-weight: 700;
  color: #000;
  display: none;
}


/*************************** 
  반응형 
****************************/
@media (max-width: 1500px) {
  .previewDesktop {
    width: 90%;
    height: 44vw;
  }
}

@media (max-width: 1440px) {
  h2 {
    font-size: 64px;
  }
}

@media (max-width: 1366px) {
  h2 {
    font-size: 56px;
  }

  .detailTitle {
    font-size: 60px;
  }

  .detailSubTitle {
    margin-bottom: 16px;
    font-size: 40px;
  }

  .detailContent {
    padding: 80px;
  }

  .detailList .left {
    padding-right: 60px;
  }

  .chip {
    margin: 0 8px 8px 0;
  }

  .chip + .chip {
    margin-left: 0;
  }

  .detailContent .detailList .phrase {
    width: 100%;
    font-size: 20px;
  }

  .contentTitle {
    font-size: 42px;
  }

  .contentSubTitle {
    width: 70%;
    font-size: 40px;
    line-height: 1.4;
  }

  .responsiveWrap {
    flex-direction: column;
    margin-bottom: 200px;
  }

  .responsiveWrap > div {
    width: 100%;
  }

  .responsiveWrap .detailContent {
    padding: 80px 16px;
  }

  .previewMobile {
    margin: 160px auto;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 38px;
  }

  .headingWrap {
    height: 50px;
    margin-bottom: 4px;
  }

  section:not(:first-of-type) {
    padding: 0 20px;
  }

  .tip {
    font-size: 14px;
  }

  .marquee p {
    font-size: 50px;
  }

  .detailContent.detailSummary {
    margin-top: 80px;
  }

  .detailTitle {
    font-size: 42px;
    margin-bottom: 8px;
  }

  .detailSubTitle {
    margin-bottom: 16px;
    font-size: 24px;
  }

  .chip {
    padding: 4px 8px;
    font-size: 12px;
  }

  .detailList {
    flex-wrap: wrap;
  }

  .detailList .title {
    font-size: 14px;
    font-weight: 500;
  }

  .detailList .phrase {
    width: 100%;
  }

  .detailContent .left, 
  .detailContent .right {
    width: 100%;
  }

  .detailContent {
    flex-wrap: wrap;
    padding: 0 16px;
  }

  .detailContent .detailList .phrase {
    font-size: 20px;
  }

  .detailContent .detailList .left,
  .detailContent .detailList .right {
    margin-bottom: 100px;
  }

  .contentTitle {
    margin-bottom: 40px;
    font-size: 32px;
  }

  .contentSubTitle {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .detailContent .phrase {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .previewMobile + .previewMobile {
    margin-left: 16px;
  }

  .previewDesktop {
    width: 95%;
    height: 40%;
  }

  .imgContainer:nth-of-type(odd) {
    justify-content: center;
    padding-left: 0;
  }

  .imgContainer:nth-of-type(even) {
    justify-content: center;
    padding-right: 0;
  }

  .imgWrap {
    width: 80%;
    margin: 0 auto;
  }

  .pages {
    flex-direction: column;
  }

  .pages .prev,
  .pages .next {
    width: 100%;
    padding: 48px 0;
    font-size: 20px;
  }
}

@media (max-width: 420px) {
  section:not(:first-of-type) {
    padding: 0 16px;
  }

  .detailTop {
    background-size: cover;
    background-attachment: initial;
  }

  .marquee p {
    margin-left: 16px;
  }
  
  .marquee p:before {
    margin-right: 16px;
  }

  .detailList .right {
    margin-top: 100px;
  }

  .detailContent {
    flex-wrap: wrap;
    padding: 80px 16px;
  }

  .detailContent .detailList .phrase {
    width: 100%;
    font-size: 16px;
  }

  .detailContent .right .phrase {
    font-size: 16px;
  }

  .previewDesktop {
    width: 92%;
    height: 22%;
  }

  .imgContainer {
    margin: 0;
  }

  .imgWrap {
    width: 92%;
  }
}