/* initial page loading div */
.loadingDiv {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  z-index: 9;
  transition: 0.3s;

  &.fadeOut {
    opacity: 0;
    visibility: hidden;
  }
}
