@import "../../styles/mixin";

.detailTop {
  background: url(/images/hi5-1.png) no-repeat center;
  background-size: cover;
}

.next:before {
  background: url(/images/btn-bg-dient.png) no-repeat center;
  background-size: cover;
}

/*************************** 
  반응형 
****************************/

@include mobile {
  .detailTop {
    background: url(/images/hi5-1-mb.png) no-repeat center;
    background-size: cover;
  }
}
