@import "../../styles/mixin";

.detailTop {
  background-image: url(/images/hi5-1.jpg);
}

.bg {
  background-image: url(/images/hi5-bg.jpg);
}

.next:before {
  background: url(/images/btn-bg-dient.png) no-repeat center;
  background-size: cover;
}

/*************************** 
  반응형 
****************************/

@include tablet {
  
}

@include mobile {
  .detailTop {
    background-image: url(/images/hi5-1-mb.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}