@import "../../app/styles/mixin";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 0 !important;
  padding: 20px 0 !important;
  overflow: hidden;
}

.textWrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  mix-blend-mode: difference;
}

.copy {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 20%;
  opacity: 0.25;
  text-align: right;
  font-size: 13px;
}

/*************************** 
  반응형 
****************************/

@include tablet {
}

@include mobile {
  .contact {
    padding: 0 !important;
  }

  .copy {
    width: 85%;
  }
}
