@import "../../app/styles/mixin";

section.intro {
  margin-bottom: 40px;
}

.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  filter: brightness(60%);
  overflow: hidden;
  .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../../../public/images/main_img1.jpg) no-repeat center;
    background-size: cover;
  }
  .layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 2;
  }
}

.introContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  .introImage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 400px;
    height: 580px;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  .introHeadingWrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 90vw;
    height: 96px;
    z-index: 3;
    color: #fff;
    mix-blend-mode: difference;
    overflow: hidden;
  }
}

/*************************** 
  반응형 
****************************/
@include desktop-sm {
  .introContainer {
    .introHeadingWrap {
      height: 84px;
    }
  }
}

@include laptop {
  .introContainer {
    .introHeadingWrap {
      height: 72px;
    }
  }
}

@include tablet {
  .introContainer {
    .introHeadingWrap {
      height: 64px;
    }
  }
}

@include mobile {
  .backgroundImage {
    .img {
      background: url(../../../public/images/main_img1-crop2.jpg) no-repeat center;
      background-size: cover;
    }
  }

  .introContainer {
    h2 {
      font-size: 6.5vw;
    }
    .introHeadingWrap {
      height: 8.5vw;
    }
    .introImage {
      width: 88%;
      img {
        max-height: 240px;
      }
    }
  }
}