.ability .headingWrap {
  height: 90px;
  margin-bottom: 4px;
  mix-blend-mode: difference;
  overflow: hidden;
  mix-blend-mode: color-burn;
  filter: invert(0.7);
}

.ability h3 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.object {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(../../../public/images/arrow-right-line-wt.svg) no-repeat center;
  background-size: cover;
  vertical-align: middle;
  opacity: 0;
}

.abilityList {
  position: absolute;
  top: 60px;
  right: 60px;
  text-align: right;
}

.abilityList li {
  font-family: 'Unbounded', sans-serif;
  font-size: 64px;
  overflow: hidden;
  mix-blend-mode: color-burn;
}

.abilityList li span {
  transform: translateY(100%);
}

.abilityList .icon {
  position: relative !important;
  width: auto !important;
  height: 50px !important;
  margin-right: 20px;
  mix-blend-mode: color-burn;
  vertical-align: middle;
}

.abilityList em {
  filter: invert(0.7) brightness(110%);
  vertical-align: middle;
}