section.ability {
  margin-top: -250px;
  padding: 0;
}

.ability .headingWrap {
  height: 90px;
  margin-bottom: 8px;
  mix-blend-mode: difference;
  overflow: hidden;
}

.ability .sectionTitle {
  margin: 40px 0 0;
  padding: 0 12px 0 40px;
}

.ability h3 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.object {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 32px;
  background: url(../../../public/images/sparkling-2-fill.svg) no-repeat center;
  background-size: cover;
  vertical-align: middle;
  opacity: 0;
}

.abilityList {
  position: relative;
}

.abilityList li {
  position: relative;
  margin-bottom: -24px;
  font-family: 'Unbounded', sans-serif;
  font-size: 64px;
  overflow: hidden;
  background: #000;
}

.abilityList li span {
  width: 100%;
  padding-left: 48px;
  border-top: 1px solid #fff;
  transform: translateY(101%);
}

.abilityList .icon {
  position: relative !important;
  width: 48px !important;
  height: auto !important;
  margin-right: 32px;
  vertical-align: middle;
}

.abilityList li:nth-child(8) .icon {
  filter: contrast(0);
}

.abilityList em {
  vertical-align: middle;
}

.abilityList li.preventMouseEvent {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: transparent;
}