.ability {
  /* position: relative; */
}

.ability h3 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.object {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(../../../public/images/arrow-right-line-wt.svg) no-repeat center;
  background-size: cover;
  vertical-align: middle;
  opacity: 0;
}

.abilityList {
  position: absolute;
  top: 60px;
  right: 60px;
  text-align: right;
  mix-blend-mode: difference;
}

.abilityList li {
  font-family: 'Unbounded', sans-serif;
  font-size: 64px;
  overflow: hidden;
}

.abilityList li span {
  transform: translateY(100%);
}