@import "../../styles/mixin";

.detailTop {
  background: url(/images/dient-1.png) no-repeat center;
  background-size: cover;
}

.prev:before {
  background: url(/images/btn-bg-hi5.jpg) no-repeat center;
  background-size: cover;
}

.next:before {
  background: url(/images/btn-bg-bis.jpg) no-repeat center;
  background-size: cover;
}

/*************************** 
  반응형 
****************************/

@include mobile {
  .detailTop {
    background: url(/images/dient-mb-1.png) no-repeat center;
    background-size: cover;
  }
}
